.card {
  border: 1px solid #d32525;
}

.bg-img {
  max-width: 20%;
  height: auto;
}

.content {
  padding: 15px;
}

.button2 {
  background-color: rgb(255, 255, 255);
  border: 1px solid #f32121;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  color: red;
}

.button2:hover {
  background-color: #ff0000; /* Green */
  color: white;
}
